<h4>Reviews by, <%= @user.username %></h4>
<br><br>

<% @user.reviews.each do |review| %>

  <div>
    <h5><a href="/reviews/<%= review.slug %>"><%= review.coffee_house.name %></a>,
    <%= review.coffee_house.location %></h5>

    <p> <%= review.content %></p>

    <% if current_user.id == review.user.id  %>
      <p><a href="/reviews/<%= review.slug %>/edit">Edit</a></p>

      <form action="/reviews/<%= review.slug %>" method="post">

          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="delete">

      </form>
    <% end %>
  </div>
  <br><br>
<% end %>
