<h4>Reviews by, <%= @user.username %></h4>
<br><br>

<% @user.coffee_houses.each do |coffee_house| %>

  <div>
    <h5><a href="/coffee_houses/<%= coffee_house.slug %>"><%= coffee_house.name %></a></h5>
    <p>Location: <%= coffee_house.location %></p>
    <p> Review: <br> <%= coffee_house.review %></p>

    <p><a href="/coffee_houses/<%= coffee_house.slug %>/edit">Edit</a></p>

    <form action="/coffee_houses/<%= coffee_house.slug %>" method="post">

        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">

    </form>

  </div>
  <br><br>

<% end %>
