<h2>Edit Coffee House Review for <%= @coffee_house.name %>  by  <%= @user.username %></h2>
<br>

<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<%end%>

<form action="/coffee_houses/<%= @coffee_house.slug %>" method="post">

  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Coffee House Name: </label>
  <input type="text" name="name" id="name" value="<%= @coffee_house.name %>">

  <label for="location">Location:</label>
  <input type="text" name="location" id="location" value="<%= @coffee_house.location %>">
  <br><br>

  <h5>Review:</h5>
  <textarea name="review" rows="8" cols="80"> <%= @coffee_house.review %></textarea>
  <br><br>

  <input type="submit" value="Edit">

</form>
