<h2>Name: <%= @coffee_house.name %></h2>
<h3>Location: <%= @coffee_house.location %></h3>
<br><br>

<% @coffee_house.reviews.all.each do |review| %>
  <div class="review_content">
      <a href="/users/<%= review.user.slug %>"><%= review.user.username %></a><br>
      <p><%= review.content %></p>
  </div>
  <br><br>
<% end %>
